<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table border="1">
    <thead>
      <tr>
        <th 
          class="<%= 'sorted' if session[:sort] == 'title' %> <%= 'asc' if session[:direction] == 'asc' %> <%= 'desc' if session[:direction] == 'desc' %>">
          <%= link_to "Title", movies_path(sort: "title", direction: toggle_direction("title")) %>
          <span class="screen-reader">Sort by Title <%= direction_symbol("title") %></span>
        </th>
        <th 
          class="<%= 'sorted' if session[:sort] == 'rating' %> <%= 'asc' if session[:direction] == 'asc' %> <%= 'desc' if session[:direction] == 'desc' %>">
          <%= link_to "Rating", movies_path(sort: "rating", direction: toggle_direction("rating")) %>
          <span class="screen-reader">Sort by Rating <%= direction_symbol("rating") %></span>
        </th>
        <th 
          class="<%= 'sorted' if session[:sort] == 'release_date' %> <%= 'asc' if session[:direction] == 'asc' %> <%= 'desc' if session[:direction] == 'desc' %>">
          <%= link_to "Release Date", movies_path(sort: "release_date", direction: toggle_direction("release_date")) %>
          <span class="screen-reader">Sort by Release Date <%= direction_symbol("release_date") %></span>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
          <td>
            <%= link_to 'Show', movie_path(movie) %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          Total Movies: <%= @movies.count %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<%= link_to "New movie", new_movie_path %>
